@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h2>@numero</h2>

Welcome to your new app

<Delete Funcion="Delete" />

@code {
     void Delete()
    {
        numero++;
    }
    public int numero { get; set; }
}







