<div class="carta">
  <div class="carta2">
    <RadzenRow RowGap="5">
      <RadzenColumn SizeSM="4" style="margin-top: 30px;">
        <RadzenImage Src="@Image" Width="80" Height="80" />
      </RadzenColumn>
      <RadzenColumn SizeSM="8">
        <div style="display: flex; flex-direction: column; justify-content: center; height: 100%;">
          <h3 style="font-weight: bold; margin-bottom: 5px;">@Title</h3>
          <h5 style="margin: 0;">@Data</h5>
        </div>
      </RadzenColumn>
    </RadzenRow>
  </div>
</div>

@code{
    [Parameter]
    public string? Title { get; set; }
     [Parameter]
    public string? Data { get; set; }
     [Parameter]
    public string? Image { get; set; }

}

<style>
  .carta {
    width: 240px;
    height: 160px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
  }

  .carta2 {
    display: flex;
    width: 240px;
    height: 160px;
    background-image: linear-gradient(163deg, #b4c5e4 0%, #fbfff1 100%);
    border-radius: 20px;
    transition: all .2s;
  }

  .carta2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }

  .carta:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }
</style>
