@inherits LayoutComponentBase

<PageTitle>StockManager</PageTitle>
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<RadzenLayout   >
    <RadzenHeader style="background-color: #f6f6f6;">
         <RadzenMenu class="fs-5 custom-menu" style="display: flex; justify-content: flex-end;  background-color: rgba(183, 179, 176, 0); color:rgb(198, 21, 21)" >

            <div style="margin-right: auto; ">
                <RadzenLink Path="/" class="d-inline-block align-text-top">
                    <RadzenImage Src="logo.png" Width="200" Height="40"  />
                </RadzenLink>
            </div>
            <RadzenMenuItem  Text="Registros" Icon="store"  >
                <RadzenMenuItem Text="Productos" Icon="front_loader" Path="/R_Productos"></RadzenMenuItem>
                <RadzenMenuItem Text="Ventas" Icon=" price_change" Path="/R_Ventas"></RadzenMenuItem>
                <RadzenMenuItem Text="Clientes" Icon=" face" Path="/R_Clientes"></RadzenMenuItem>
                <RadzenMenuItem Text="Proveedores" Icon="contact_page" Path="/R_Provedores"></RadzenMenuItem>
                <RadzenMenuItem Text="Compra" Icon="local_shipping" Path="/R_Compras"></RadzenMenuItem>
                <RadzenMenuItem Text="Categoria" Icon="list"Path="/R_Categorias"></RadzenMenuItem>
                <RadzenMenuItem Text="Inventario" Icon="dashboard"  Path="/R_Inventarios"></RadzenMenuItem>
            </RadzenMenuItem>

            <RadzenMenuItem Text="Consultas" Icon="chrome_reader_mode">
                <RadzenMenuItem Text="Productos" Icon="front_loader" Path="/C_Productos"></RadzenMenuItem>
                <RadzenMenuItem Text="Ventas" Icon=" price_change" Path="C_Ventas"></RadzenMenuItem>
               <RadzenMenuItem Text="Clientes" Icon=" face" Path="/C_Clientes"></RadzenMenuItem> 
                <RadzenMenuItem Text="Provedores" Icon="contact_page"Path="C_Proveedores"></RadzenMenuItem>
                <RadzenMenuItem Text="Compras" Icon="local_shipping" Path="C_Compras"></RadzenMenuItem>
                <RadzenMenuItem Text="Categoria" Icon="list" Path="/C_Categorias"></RadzenMenuItem>
                 <RadzenMenuItem Text="Inventario" Icon="dashboard"  Path="/C_Inventarios"></RadzenMenuItem>
            </RadzenMenuItem>

           
            
            <RadzenMenuItem Text="Reportes" Icon="book">
               <RadzenMenuItem Text="Productos" Path="/RP_Productos"></RadzenMenuItem>

                <RadzenMenuItem Text="Clientes" Path="/RP_Clientes"></RadzenMenuItem>
                <RadzenMenuItem Text="Proveedores" Path="/RP_Proveedores"></RadzenMenuItem>

            </RadzenMenuItem>
         </RadzenMenu>
    </RadzenHeader>
   
<RadzenBody style="background-image: url('https://i.imgur.com/j6uKyU2.png'); background-size: cover;">@*Imagen de de fondo*@
            @Body
    </RadzenBody>
     @* <RadzenFooter class="sticky-footer">
       <ReferenceTemplate />
    </RadzenFooter>  *@
</RadzenLayout>

<style>
    .sticky-footer {
        
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
         z-index: 10;
         justify-content: end;
    }
    .sidebar-content {
   z-index: 5;
    }
    .custom-menu {
    color: black !important; 
  }
  .custom-menu .contenido {
  font-size: 12px;
}


</style>
