@page "/R_Provedores"
<div class="d-flex justify-content-end ">
    <div class="zoom">
        <RadzenTextBox Placeholder="Buscar Proveedor..."  Style=" width: 250px;  height: 40px; font-size: 16px;" />
        <RadzenButton Icon="search"  Style=" width: 40px;  height: 39px; font-size: 16px;" />
    </div>
</div>

<RadzenStack >  
    <RadzenCard Class="rz-my-auto rz-mx-auto bordes " style=" background-image: linear-gradient(180deg, #3066be 60%, #b4c5e4  100%);;"> 
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="0" Class="rz-p-0 " >
            <RadzenLabel Text="REGISTRO DE PROVEEDORES" Style=" font-size: 25px; font-weight: bold; margin-bottom: 10px; color:white;" />
        </RadzenStack>
        <RadzenCard class=" rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding)); background-image: linear-gradient(163deg, #b4c5e4 0%, #fbfff1 100%);">
            <RadzenRow RowGap="5">
                <RadzenColumn SizeSM="6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Nombre:</RadzenText>
                    <RadzenTextBox  class="w-200 zoom " />
                </RadzenColumn>
                <RadzenColumn SizeSM="6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Descripcion:</RadzenText>
                    <RadzenTextBox  class="w-200 zoom " />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow RowGap="5">
                <RadzenColumn SizeSM="6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Direccion:</RadzenText>
                    <RadzenTextBox  class="w-200 zoom " />
                </RadzenColumn>
                <RadzenColumn SizeSM="6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Telefono:</RadzenText>
                    <RadzenTextBox  class="w-200 zoom " />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow RowGap="5">
                <RadzenColumn SizeSM="6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">RCN:</RadzenText>
                    <RadzenDropDown TValue="int"  class="w-200 zoom " />
                </RadzenColumn>
                <RadzenColumn SizeSM="6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Fecha:</RadzenText>
                       <RadzenDatePicker TValue="DateTime"   class=" zoom "  style="width: 190px;"/>
                </RadzenColumn>
            </RadzenRow>

        </RadzenCard>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0">
            <ButtonTemplate ColorParameter="#007bff" TextParameter="NUEVO" IconParameter="add" />
            <ButtonTemplate ColorParameter="#28a745" TextParameter="GUARDAR" IconParameter="save" />
            <ButtonTemplate ColorParameter="#dc3545" TextParameter="ELIMINAR" IconParameter="delete"/>
        </RadzenStack>
    </RadzenCard>
</RadzenStack>

@code {


  
}

